#root {
  margin: 0 auto;
  text-align: center;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
}
.navigator_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.navigator {
  max-width: 1280px;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  height: 54px;
  width: 100%;
  background-color: #fff;
}
.nv-bg {
  width: 100%;
  height: 54px;
}
.navigator_title {
  margin: 15px;
  color: #448899;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.navigator_links {
  display: flex;
}
.navigator_links > div {
  margin: 15px;
  cursor: pointer;
}

.welcome {
  height: 320px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.welcome_img_bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.welcome_img {
  width: 100%;
}
.welcome_title {
  position: absolute;
  max-width: 1200px;
  width: 95%;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}
.welcome_heading {
  font-size: 28px;
}
.welcome_category_form {
  width: 100%;
  align-items: center;
}
.welcome_category_input {
  font-size: 17px;
  padding: 10px;
  width: 330px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px 0px 0px 5px;
}

.welcome_category_button {
  background-color: #448899;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #448899;
  overflow: hidden;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.welcome_category_button svg {
  color: #fff;
  width: 20px;
  height: 20px;
}
.category {
  position: absolute;
  background-color: #fff;
  top: 70%;
  width: 30%;
  min-width: 370px;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  box-shadow: 0px 0px 20px #aabbcc;
}
.category_li {
  cursor: pointer;
  color: black;
  list-style-type: none;
}
.category_li:hover {
  background-color: #448899;
  color: #fff;
}
.promotion {
  max-width: 1280px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.attraction_container {
  height: 250px;
  border-radius: 5px;
  border: solid 1px rgb(204, 204, 204);
  flex-direction: column;
}
.attraction_container_img_bg {
  position: relative;
  overflow: hidden;
  height: 80%;
}
.attraction_container_img {
  width: 100%;
  cursor: pointer;
}
.attraction_container_img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.attraction_container_name_bg {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  align-items: center;
}
.attraction_container_name_opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
.attraction_container_name {
  position: absolute;
  margin-left: 10px;
  color: #fff;
}
.attraction_container_text {
  height: 20%;
  justify-content: space-between;
  align-items: center;
}
.attraction_container_mrt {
  margin-left: 10px;
}
.attraction_container_catgory {
  margin-right: 10px;
}

.attraction {
  max-width: 1200px;
  width: 95%;
  height: 406px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.carousel_bg {
  height: 406px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.carousel_bt {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
}
.carousel_bt:hover {
  background-color: black;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.carousel_prev_bt {
  left: 30px;
}
.carousel_next_bt {
  right: 30px;
}
.carousel_img {
  height: 100%;
}
.carousel_index_bg {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.carousel_index {
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  opacity: 0.5;
  padding: 8px;
  margin: 0 1px;
  border-radius: 50%;
  cursor: pointer;
}
.carousel_index:hover {
  background-color: black;
  opacity: 0.8;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.carousel_index.active {
  background-color: black;
  opacity: 0.8;
  padding: 10px;
}
.attraction_detail {
  color: #666666;
  font-weight: bold;
  width: 100%;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
}

.booking_info {
  background-color: #e8e8e8;
  border-radius: 5px;
  padding: 10px;
}
.half_day {
  padding: 12px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}
.half_day.selected {
  background-color: #448899;
}

.booking_btn {
  background-color: #448899;
  color: #fff;
  font-weight: normal;
  font-size: 17px;
  width: 155px;
  height: 36px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.attraction_pg_hr {
  border: 1px solid #e8e8e8;
  max-width: 1200px;
  width: 95%;
  margin: 40px auto;
}
.attraction_intro {
  max-width: 1200px;
  width: 95%;
  text-align: left;
  color: #666666;
  margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #757575;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .welcome_img {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .promotion {
    max-width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .welcome_category_input {
    min-width: 300px;
  }
  .attraction {
    grid-template-columns: 1fr;
    height: auto;
    gap: 0px;
  }
  .carousel_bg {
    width: 100%;
  }
  .carousel_img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 670px) {
  .carousel_img {
    width: auto;
    height: 406px;
  }
}
@media (max-width: 600px) {
  .promotion {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 475px) {
  .welcome_category_input {
    min-width: 80%;
  }
  .category {
    width: 90%;
    min-width: auto;
  }
}

a {
  text-decoration: none;
}

.display_flex {
  display: flex;
}
.display_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
